<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/SinhVien/ThongTinSinhVien">Thông Tin Sinh Viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/SinhVien/DangKyDoAn">Đăng Ký Đồ Án</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="row">
            @RenderBody()
        </div>
    </div>
   
</body>
</html>

