* {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue';
}

body {
    background-image: url('../Images/091.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#box_center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#pnlLogoLogin {
    text-align: center;
}

#logoIUH {
    width: 180px;
    height: auto;
}

#lbLogin {
    margin-top: 38px;
    color: #0A176B;
    font-size: 1.5em;
}

#frmLogin {
    display: normal;
    width: 590px;
    height: 600px;
    padding: 40px 50px;
    background-color: rgb(255,255,255);
    text-align: center;
    border-radius: 10px 10px 0 0;
    box-shadow: 2px 2px 6px gray;
    animation-name: showForm;
    animation-duration: 0.5s;
}

@keyframes showForm {
    0% {
        display: none;
        transform: scaleX(0);
    }
    10% {
        display: normal;
        transform: scaleX(0.1);
    }
    20% {
        transform: scaleX(0.2);
    }
    30% {
        transform: scaleX(0.3);
    }
    40% {
        transform: scaleX(0.4);
    }
    50% {
        transform: scaleX(0.5);
    }
    60% {
        transform: scaleX(0.6);
    }
    70% {
        transform: scaleX(0.7);
    }
    80% {
        transform: scaleX(0.8);
    }
    90% {
        transform: scaleX(0.9);
    }
    100% {
        transform: scaleX(1);
    }
}

#user_name, #pwd {
    background-color: transparent;
    border-top: none;
    border-bottom: 1px solid #AEAEAE;
    border-left: none;
    border-right: none;
    border-radius: 0;
    outline: none;
    padding: 15px 5px;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 38px;
}

    #user_name:hover, #pwd:hover {
        border-bottom: 2px solid #AEAEAE;
        font-weight: 600;
    }

#btnDangNhap {
    padding: 20px 0;
    width: 60%;
    font-weight: 500;
    border: none;
    outline: none;
    font-size: 1.1em;
    color: white;
    background-color: #0F7185;
    margin-top: 50px;
    box-shadow: 2px 2px 6px gray;
}

    #btnDangNhap:hover {
        background-color: #1CAAC7;
        font-weight: 600;
    }

#pnlLinkQuenMK {
    margin-top: 20px;
}

#linkQuenMatKhau {
    color: #646464;
    font-weight: 500;
    font-size: 1em;
}

    #linkQuenMatKhau:hover {
        text-decoration: none;
        font-weight: 600;
    }

@media only screen and (max-width: 414px) {
    #frmLogin {
        width: 280px;
        padding: 40px 20px;
        height: 480px;
    }

    #lbLogin {
        font-size: 1em;
    }

    #user_name, #pwd {
        margin-top: 20px;
        font-size: 0.8em;
    }

    #btnDangNhap {
        margin-top: 20px;
        width: 80%;
        padding: 10px 0;
        font-size: 1em;
    }

    #pnlLinkQuenMK {
        margin-top: 10px;
    }

    #linkQuenMatKhau {
        font-size: 0.8em;
    }
}
